/* Sayfanın Geneli */
body {
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
::placeholder {
    font-size: 10px;
    font-family: Nexa ;
}
input {
    font-size: 15px;
    font-family: Nexa Xbold;
    color: #00B7FF;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #525252;
}
input[type="checkbox"] {
    accent-color: #00b7ff;
}
input[type="submit"] {
    color: white;
    font-size: 15px;
}
/* Başlık */
#baslik-alani {
    background-color: #00B7FF;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #1B9DCF;
    display: flex;
    justify-content: center;
    align-items: center;
}
#baslik {
    color: white;
    font-size: 25px;
    font-family: Nexa Xbold;
}
/* Boşluk */
#bosluk {
    width: 500px;
    height: 10px;
}
/* Form Alanı ve Kutucuklar */
#form-alani {
    background-color: #f0f0f0;
    width: 500px;
    border-radius: 10px;
    border: 1px solid #ADADAD;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}
.form-satir {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}
.form-baslik {
    font-size: 15px;
    font-family: Nexa Xbold;
    color: #525252;
    padding: 5px 0px;
}
#not {
    font-size: 13px;
    font-family: Nexa Bold;
    color: #525252;
    border-radius: 5px;
    border: 1px solid #525252;
    background-color: #ebebeb;
}
.onay-satir {
    width: 300px;
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    align-items: center;
}
#onay-yazisi {
    font-size: 12px;
    font-family: Nexa;
    color: #525252;
    height: 20px;
    padding-left: 5px;
}
#onay-tiki {
    width: 20px;
}
/* Gönder Butonu */
#gonder {
    width: 500px;
    height: 50px;
    background-color: #00B7FF;
    border-radius: 10px;
    border: 1px solid #1B9DCF;
}